<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="back/index :: Head">
    <title></title>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>用户管理</legend>
</fieldset>
<div class="cBody" style="height: 100%;">
    <div class="console">
        <form action="" class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="userName"
                           placeholder="输入用户名" required type="text">
                </div>
                <div class="layui-input-inline">
                    <select id="userStu" lay-filter="userStu" name="userStu">
                        <option value="">请选择.....</option>
                        <option value="1">正常</option>
                        <option value="2">封禁</option>
                    </select>
                </div>
                <button class="layui-btn" lay-filter="formDemo" lay-submit>检索</button>
            </div>
        </form>
    </div>

    <table class="layui-table" lay-skin="line" style="height: 100%; width: 100%;">
        <thead>
        <tr>
            <th>用户姓名</th>
            <th>用户头像</th>
            <th>用户邮箱</th>
            <th>用户状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="item,i:${users}">
            <td th:text="${item.UName}"></td>
            <td><img th:src="${item.UPhoto}"></td>
            <td th:text="${item.UEmail}"></td>
            <td th:id="'userStu'+${i.index}" th:text="${item.UStu eq 1}?'正常':'封禁'"></td>
            <td>
                <button class="layui-btn layui-btn-xs"
                        th:id="'upDateBtn'+${i.index}"
                        th:onclick="${item.UStu eq 1}?'upDateUser('+${item.UId}+',\'2\','+${i.index}+')':'upDateUser('+${item.UId}+',\'1\','+${i.index}+')'"
                        th:text="${item.UStu eq 1}?'封禁':'解封'">
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- layUI 分页模块 -->
    <div id="pages"></div>


    <div style="margin-bottom: 50px"></div>
    <script th:inline="javascript">
        var limit = 1;
        var total = [[${total}]];

        function upDateUser(uId, uStu, uStuId) {
            // console.log(uId + "       " + uStu + "          " + uStuId);
            $.post("/tableUser/upDateUserStu", {
                "uId": uId,
                "uStu": uStu
            }, function (data) {
                if (data == true) {
                    var stuBtn = $('#upDateBtn' + uStuId);
                    var stuBtnId = 'upDateBtn' + uStuId;
                    var userStuId = 'userStu' + uStuId;

                    if (uStu == 2) {
                        layer.msg("用户及该用户发布资源全部封禁...");
                        stuBtn.attr("onclick", "upDateUser(" + uId + ',' + 1 + "," + uStuId + ")");
                        document.getElementById(userStuId).innerHTML = "封禁";
                        document.getElementById(stuBtnId).innerHTML = "解封";
                    } else {
                        layer.msg("用户及该用户发布资源全部解封...");
                        stuBtn.attr("onclick", "upDateUser(" + uId + ',' + 2 + "," + uStuId + ")");
                        document.getElementById(userStuId).innerHTML = "正常";
                        document.getElementById(stuBtnId).innerHTML = "封禁";
                    }
                } else {
                    layer.msg("错误........")
                }
            });
        }

        //表单
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(formDemo)', function (data) {
                var userName = $('#userName').val();
                var userStu = $('#userStu').val();
                // alert(userStu+"     "+userName);
                if (userName == undefined || userName == '' && userStu == '') {
                    layer.msg("所有条件都为空....");
                    return false;
                }
                $.post("/tableUser/conditionSwitchUserPage", {
                    "uName": userName,
                    "uStu": userStu,
                    "curr": 1
                }, function (data) {
                    if (data == null || data.length <= 0) {
                        layer.msg("查找不存在.......");
                        return false;
                    }
                    var total = data[0].total;
                    // alert(total);
                    setTable(data);
                    layui.use('laypage', function () {
                        var laypage = layui.laypage;
                        laypage.render({
                            elem: 'pages',
                            count: total,
                            limit: limit,
                            layout: ['count', 'prev', 'page', 'next', 'skip'],
                            jump: function (obj, first) {
                                if (!first) {
                                    var page = obj.curr;
                                    $.post("/tableUser/conditionSwitchUserPage", {
                                        "userName": userName,
                                        "userStu": userStu,
                                        "curr": page
                                    }, function (data) {
                                        setTable(data);
                                    });

                                }
                            }
                        });
                    });
                })
                return false;
            });
        });

        /**
         * 分页
         */
        layui.use('laypage', function () {
            var laypage = layui.laypage;
            //总页数大于页码总数
            laypage.render({
                elem: 'pages',
                count: total,
                limit: limit,
                layout: ['count', 'prev', 'page', 'next', 'skip'],
                jump: function (obj, first) {
                    if (!first) {
                        //obj包含了当前分页的所有参数，比如：
                        // console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                        // console.log(obj.limit); //得到每页显示的]条数
                        var page = obj.curr;
                        $.post("/tableUser/switchUserPage", {
                            "curr": page
                        }, function (data) {
                            setTable(data);
                        });
                    }
                }
            });
        });

        function setTable(data) {
            var html = "";
            if (data == null || data.length <= 0) {
                layer.msg("错误....");
                return;
            }

            for (var i = 0; i < data.length; i++) {
                html += "<tr>\n" +
                    "<td>" + data[i].uname + "</td>\n";
                if (data[i].uphoto == undefined) {
                    html += "<td>无</td>"
                } else {
                    html += "<td><img src=\"" + data[i].uphoto + "\"></td>\n";
                }
                if (data[i].uemail == undefined) {
                    html += "<td>无</td>";
                } else {
                    html += "<td>" + data[i].uemail + "</td>\n";
                }
                if (data[i].ustu == 1) {
                    html += "<td>正常</td>" +
                        "<td>\n" +
                        "<button id=\"upDateBtn" + i + "\"\n" +
                        "        class=\"layui-btn layui-btn-xs\"\n" +
                        "        onclick=\"upDateUser(" + data[i].uid + ",2," + i + ")\">\n" +
                        "封禁" +
                        "</button>\n" +
                        "</td>\n" +
                        "</tr>";
                } else {
                    html += "<td>封禁</td>" +
                        "<td>\n" +
                        "<button id=\"upDateBtn" + i + "\"\n" +
                        "        class=\"layui-btn layui-btn-xs\"\n" +
                        "        onclick=\"upDateUser(" + data[i].uid + ",1," + i + ")\">\n" +
                        "解封" +
                        "</button>\n" +
                        "</td>\n" +
                        "</tr>";
                }
            }
            document.getElementById("tbody").innerHTML = html;
        }
    </script>
</div>

</body>
</html>
