<!DOCTYPE html>
<html lang="en" xmlns:sec=“http://www.thymeleaf.org/extras/spring-security”
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="Top">
<div class="main-navigation"
     style="margin:0;padding:0; margin-left: 351px; list-style-type:none;font-family:Arial, LucidaGrande, Lucida Sans, Arial;color:#FFFFFF">
    <ul>
        <li><a href="/">首页</a></li>
        <li>
            <a href="#">发现</a>
            <ul>
                <li th:each="item:${bigTypes}">
                    <a th:href="'/booksList?allTypeId='+${item.allTypeId}+'&thisPage=1&allTypeName='+${item.allTypeName}"
                       th:text="${item.allTypeName}">音乐</a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#">音频</a>
            <ul sec:authorize="isAuthenticated()">
                <li><a th:href="'/upLoad?thisPage=1&uid='+${session.user.uId}">上传</a></li>
            </ul>
            <ul sec:authorize="!isAuthenticated()">
                <li><a href="/upLoad">上传</a></li>
            </ul>
        </li>
        <!--        判断是否存在user-->
        <li sec:authorize="!isAuthenticated()">
            <a href="/login">
                登陆
            </a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:text="${session.user.uName}">
            </a>
            <ul>
                <li>
                    <a href="/logout">注销登陆</a>
                </li>
            </ul>
        </li>
        <li><a href="/contactTheAdministrator">意见反馈</a></li>
    </ul>
    <div class="search">
        <label>
            <input class="search-input" id="searchText" name="search" type="text"/>
        </label>
        <input class="search-btn" id="searchButton" name="search" type="submit" value=""/>
    </div>

    <script type="text/javascript">
        $('#searchButton').click(function () {
            var searchText = $('#searchText').val();
            if (searchText.trim() !== '') {
                window.location.href = '/search?thisPage=1&searchText=' + searchText;
            } else {
                alert('不能搜索空字符')
            }
        })

        $(document).ready(function () {

            $(".main-navigation li").hover(function () {
                var itemwidth = $(this).width(); /* Getting the LI width */
                $(this).prepend("<div class='hover'></div>"); /* Inserting a blank div into within li above the <a> tag*/
                $(this).find("div").fadeIn('10000').css({'width': itemwidth}); /* Using the itemwidth for the div to display properly*/
                $(this).find("ul").fadeIn('1000').slideDown('10000').css("display", "block");

            }, function () {
                $(this).find("div").slideUp('1000').fadeOut('1000');/* sliding up and fading out the hover div */
                $(this).find("div").remove();/* removing the <div> code from html at every mouseout event*/
                $(this).find("ul").fadeOut('1000'); /* fading out the sub menu */

            });

            $(".search-input").focus(function () {
                $(this).animate({width: '180px'}, 500); /* on focus, increasing the input width of search to left side*/
            });

            $(".search-input").focusout(function () {
                $(this).animate({width: '117px'}, 500);  /* on focus, decreasing the input width of search to left side*/
            });

        });
    </script>
</div>

</body>
</html>