<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    </head>
    <body>
        <div id="app">
            <label>
                <input type="text" v-model="name"/>
            </label>
            <button v-on:click="one()">登陆</button>
        </div>
        <script>
            var toaxios = new Vue({
                el: "#app",
                data:{
                    name: ''
                },
                methods: {
                    one: function () {
                        this.$http.get
                        (
                            '/user12',
                            {
                                "name":name
                            },
                            {emulateJSON:true}
                        )
                            .then
                            (
                                function(res){
                                    console.log(res)
                                },
                                function(res){
                                    console.log(res.status);
                                 }
                            );
                    }

                }

            })
        </script>
    </body>
</html>