<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/Head :: Head">
    <title></title>
</head>

<body>
<div class="con_ny" id="bookLists">
    <h4 class="con_dqwz">您的当前位置：<a href="/">首页</a> >>上传</h4>
    <h1>我的创建的书籍<a href="/createBook" style="float: right; margin-right: 45px">创建新的书籍</a></h1>
    <div class="tplist1" style="margin-left:0px;" th:each="item,itemNum:${bookLists}">
        <div class="tplist1_1"><a th:href="'/audioFull?audioNameId='+${item.audioNameId}">
            <img height="185" th:src="${item.audioNameImg}" width="296"/></a></div>
        <div class="tplist_yy"></div>
        <div class="tplist_mc"><a th:href="'/audioFull?audioNameId='+${item.audioNameId}"
                                  th:text="${item.audioNameName}"></a></div>
        <div class="tplist_mcjg"><span>演播: [[${item.UName}]] </span> <span
                class="tejia">点击数: [[${item.audioNameCount}]]</span></div>
    </div>
    <div class="fy">
        <a th:href="'/upLoad?uid='+${uid}+'&thisPage=1'">首页</a>
        <a th:href="${prePage lt 1}?'/upLoad?uid='+${uid}+'&thisPage=1':'/upLoad?uid='+${uid}+'&thisPage='+${prePage}">上一页</a>
        <a th:href="${thisPage ge allPages}?'/upLoad?uid='+${uid}+'&thisPage='+${allPages}:'/upLoad?uid='+${uid}+'&thisPage='+${thisPage}">下一页</a>
        <a th:href="'/upLoad?uid='+${uid}+'&thisPage='+${allPages}">尾页</a>
        <span>页次：[[${thisPage}-1]]/[[${allPages}]]页</span> <span>6个图书/页</span>
        <span>共[[${allBookNum}]]个数据</span>
    </div>
</div>

<script th:inline="javascript">

</script>
</body>

</html>
